<nav class="connections">
  <form action="/form" method="GET">
    <button>Add Course Details</button>
    <% if(sessionData) { %>
    <div class="username">Welcome <%= sessionData._firstName %>!</div>
    <%} %>
  </form>
</nav>
