<header class="heading">
  <ul>
    <% if(sessionData) { %>
    <li class="footeri"><a href="/logout">Logout</a></li>
    <% } else { %>
    <li class="footeri"><a href="/login">Login</a></li>
    <% } %>
    <li class="footeri fltright">
      <a href="/"
        ><img
          class="imgheader"
          src="https://img.icons8.com/dusk/80/000000/hub.png"
          alt=""
          width="100"
          height="40"
      /></a>
    </li>
    <li class="footeri fltright">My Course History</li>
  </ul>
</header>
